<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeneticAlgNetControl</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
</head>
<body class="d-flex flex-column">
    <div class="flex-grow-1 row mx-0">
        <div class="col-4 col-lg-3 bg-dark d-flex flex-column justify-content-between align-items-center px-2 py-4">
            <div class="navbar navbar-dark flex-grow-0">
                <div class="navbar-brand">
                    <img src="~/img/geneticalgnetcontrol-icon.png" width="30" height="30" class="align-top" />
                    <span>GeneticAlgNetControl</span>
                </div>
            </div>
            <div class="flex-grow-1 w-100">
                <partial name="_NavigationPartial" />
            </div>
            <div class="flex-grow-0">
                <div class="text-light">
                    <span>&copy; 2019 - GeneticAlgNetControl</span>
                </div>
            </div>
        </div>
        <div class="col-8 col-lg-9 p-4">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="false"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
