@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="h4 text-danger my-4">
    <span><i class="fas fa-exclamation-triangle"></i></span>
    <span>Something went wrong...</span>
</div>
<div class="my-4">
    <span>An error occured while processing your request. You can simply return to the home page and try again, or, if you think that something went wrong when it shouldn't have, you can tell us about it.</span>
</div>
