@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    ViewData["ActivePage"] = "Home";
}

<div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="container">
        <div class="card p-5 m-2 shadow-sm">
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4 my-lg-0">
                    <img src="~/img/geneticalgnetcontrol-icon.png" alt="Logo" class="border rounded-circle" />
                </div>
                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center align-items-lg-start my-4 my-lg-0">
                    <div class="h4 text-center text-lg-left mb-4">
                        <span>Genetic Algorithms for Network Controllability</span>
                    </div>
                    <div class="text-center text-lg-left mb-4">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
                    </div>
                    <div class="text-center">
                        <a asp-page="/About" class="btn btn-success">
                            <span>Find out more</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
