@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    ViewData["ActivePage"] = "Home";
}

<div class="flex-grow-1 d-flex flex-column justify-content-center">
    <div class="container">
        <div class="card p-5 m-2 shadow-sm">
            <div class="row">
                <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4 my-lg-0">
                    <img src="~/img/geneticalgnetcontrol-icon.png" alt="Logo" class="border rounded-circle" />
                </div>
                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center align-items-lg-start my-4 my-lg-0">
                    <div class="h4 text-center text-lg-left mb-4">
                        <span>Genetic Algorithms for Network Controllability</span>
                    </div>
                    <div class="text-center text-lg-left mb-4">
                        <span>GeneticAlgNetControl is a fast heuristic for the network target controllability problem. The software is customised for applications in drug repurposing and combinatorial drug therapy identification based on synthetic lethality.</span>
                    </div>
                    <div class="text-center">
                        <a asp-page="/About" class="btn btn-success">
                            <span>Find out more</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
