/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Style for all of the pages. */
html {
    height: 100%;
}

body {
    min-height: 100%;
}

main {
    background-color: #f8f9fa;
    background-image: url("/img/background.svg");
    background-attachment: fixed;
    background-size: cover;
}

/* Style for the validation errors. */
.validation-summary-errors ul {
    margin-bottom: 0;
}
