/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Style for all of the pages. */
html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 800px;
    overflow-x: auto;
}

/* Style for the navigation. */
.nav-link.active {
    background-color: #1d2124 !important;
}
